<!DOCTYPE html>
<html lang="en">


<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css"/>
<link rel="stylesheet" href="app.css"/>

<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<script src="bower_components/ngstorage/ngStorage.min.js"></script>
<script src="app.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Todo app</title>
</head>
<body ng-app="todoApp">
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">My To Do App</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="#">Home</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div ng-controller="IndexPageController" class="container">
    <div class="row">
        <div class="col-lg-6">
            <input class="input-lg form-control fg-input" type="text" ng-model="query" placeholder="Search my to dos"/>
            <ul style="list-style: none;">
                <li ng-repeat="todo in list | filter: query">
                    <todo-item todo="todo"></todo-item>
                </li>
            </ul>
        </div>
        <div class="col-lg-6">

            <form ng-submit="submit()">
                <input type="text" ng-model="newItem" placeholder="Add some to do"
                       class="input-lg form-control fg-input"/>
                <br/>
                <button type="submit" class="btn btn-default">Add new to do</button>
            </form>
        </div>
    </div>

</div>
</body>
</html>